{
    "extends": [
        "@nuxtjs/eslint-config-typescript"
    ],
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "vue/no-multiple-template-root": "off"
    }
}
